<h1>My Claims </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
    <table class="table">

        <thead>
            <tr>
                <th>Claim Number</th>
                <th>Description</th>
                <th>Status</th>
                <th>CreationDate</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let claims of claimsTable">
                <th>{{claims.id}}</th>
                <th>{{claims.description}}</th>
                <th>{{claims.status}}</th>
                <th>{{claims.creationDate |date }}</th>
                <th>{{claims.color}}</th>
                <th><button (click)="updateClaim(claims.id)" class="btn btn-success">Updsate</button></th>
                <th><button (click)="deleteClaim(claims.id)" class="btn btn-warning">Delete</button></th>


            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <button class="btn btn-success" routerLink="/addclaim">Add Claim</button>
</div>