<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div><a routerLink="url" class="navbar-brand " > logo </a> </div>

        <ul class="navbar-nav">
            <li><a routerLink="/welcome/dd" class="nav-link">Home</a></li>
            <li><a routerLink="/myclaims" class="nav-link">My Claims</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">login</a></li>
            <li><a routerLink="gfg" class="nav-link">logout</a></li>
        </ul>
    </nav>



</header>