<p>add-claim works!</p>
<h1>Add Claim</h1>

<div class="container">


    <div class="container">
        <form (ngSubmit)="!addClaimsForm.invalid && saveClaim()" #addClaimsForm="ngForm">
            <h3>Car information</h3>
            <fieldset class="form-group">
                <label>Description</label>
                <input type="text" name="description" [(ngModel)]="claimsModel.description" class="form-control">
                <label>Model</label>
                <input type="text" name="model" [(ngModel)]="claimsModel.model" required="required"
                    class="form-control">
                <label>Color</label>
                <input type="text" name="color" [(ngModel)]="claimsModel.color" required="required"
                    class="form-control">
                <label>Status</label>
                <input type="text" name="status" [(ngModel)]="claimsModel.status" required="required"
                    class="form-control">

            </fieldset>


            <div>
                <button type="submit" class="btn btn-success"> Submit Claim </button>
            </div>

            <div class="text-center">
                <input class="form-control" type="file" (change)="inFileUpload($event)">

                <button (click)="uploadFile()" class="btn btn-success">
                    Upload
                </button>
            </div>

            <!-- Shareable short link of  uploaded file -->
            <div class="container text-center jumbotron" *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>

            <!-- Shareable short link of  uploaded file 
            <div class="container text-center jumbotron" *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>-->

            <!--Flag variable is used here
            <div class="container" *ngIf="loading">
                <h3>Loading ...</h3>
            </div>-->
        </form>
    </div>

</div>