.general-container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    position: relative;
    font-size: 2rem;
    color: black;
    text-align: center;
}
.button-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.clean {
    position: relative;
    padding: 5px 15px;
    background: white;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    cursor: pointer;
}
.container-w80 {
    position: relative;
    width: 80%;
}
.action-row {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.edit {
    position: relative;
    cursor: pointer;
    margin-right: 4%;
    font-size: 1.1rem;
    background: transparent;
    border: transparent;
}
.delete {
    position: relative;
    cursor: pointer;
    margin-right: 4%;
    font-size: 1.1rem;
    background: transparent;
    border: transparent;
    color: red;
}
.container {
    margin-bottom: 5%;
}