<h1>Add Claim</h1>

<div class="container">

    <div>
        <h3>Car information</h3>
        Model: <input type="text" name="model" [(ngModel)]="model">
        Color: <input type="text" name="color" [(ngModel)]="color">
        Plates: <input type="text" name="plates" [(ngModel)]="plates">

    </div>

    <div>
        Description: <input type="text" name="description" [(ngModel)]="description">
    </div>

    <div>
        <button (click)=addClaim() class="btn btn-success" > Submit Claim </button>
    </div>
</div>